--index-url https://pypi.python.org/simple/

### requirements_opt.txt #####################################
###
### Optional requirements
###
### To install, run:
###      $ pip install -r requirements_opt.txt
###
##############################################################

# Enable completion on command line interface
gnureadline